**/.idea
**/*.iws
**/*.iml
*.ipr
**/target
backend/api-generated/.openapi-generator*
backend/api-generated/README.md
backend/api-generated/src
backend/api-generated/.gitignore
backend/api-generated/.travis.yml
backend/api-generator/gradlew
algorithm/__pycache__
algorithm/otp
.env
frontend/package-lock.json
frontend/package.json