.gridCol {
    background-color: #f0f0f0;
    padding: 16px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: var(--mantine-font-size-xl);
    font-weight: 500;
    border-radius: 10px;
}