.checkbox{
    iconColor: var(--mantine-color-dark-8);
    color: var(--text-color);
    margin-bottom: var(--mantine-spacing-md);
}

.gridCol {
    background-color: #f0f0f0;
    padding: var(--mantine-spacing-md);
    text-align: center;
    border: 1px solid #ddd;
    min-height: 80vh;
    border-radius: 10px;
}

.pinkButton {
    width: 100%;
    background-color: var(--primary-color);
    color: white;            /* Text color */
    cursor: pointer;         /* Cursor style */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    font-size: var(--mantine-font-size-lg);
    margin-top: 50vh;
}
.pinkButton:hover {
    background-color: var(--hover-color);
}

.textStyle{
    font-size: var(--mantine-font-size-lg);
    font-weight: bold;
    text-align: left;
    margin-bottom: var(--mantine-spacing-md);
}
.blueBackground {
    background-color: var(--primary-color)!important;
}

.saveBox > button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;            /* Text color */
    cursor: pointer;         /* Cursor style */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    font-size: var(--mantine-font-size-lg);
    margin-top: var(--mantine-spacing-md);
    height: var(--button-height-xl);
}
.saveBox > button:hover {
    background-color: var(--hover-color);

}

.notificationContainer {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
}

.notification {
    font-size: clamp(2rem, 3vw, 2.5rem);
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--mantine-color-white);
    border: 1px solid var(--mantine-color-gray-outline-hover);
}
.background {
    background-color: var(--primary-color)!important;
}
.searchHeader{
    font-size: var(--mantine-font-size-xl);
    font-weight: 1200;
    color: white;
    margin: var(--mantine-spacing-xl);
    background-color: var(--primary-color);
}