.checkbox{
    iconColor: var(--mantine-color-dark-8);
    color: var(--text-color);
    margin-bottom: var(--mantine-spacing-md);
}

.gridCol {
    background-color: #f0f0f0;
    padding: var(--mantine-spacing-md);
    text-align: center;
    border: 1px solid #ddd;
    min-height: 80vh;
}

.pinkButton {
    width: 100%;
    background-color: var(--primary-color);
    color: white;            /* Text color */
    cursor: pointer;         /* Cursor style */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    font-size: var(--mantine-font-size-lg);
    margin-top: 50vh;
}
.pinkButton:hover {
    background-color: var(--hover-color);
}

.textStyle{
    font-size: var(--mantine-font-size-lg);
    font-weight: bold;
    text-align: left;
    margin-bottom: var(--mantine-spacing-md);
}