.customInput {
    margin-bottom: var(--mantine-font-size-md);
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 90%;
}

.customInput:required {
    border: 2px solid red; /* red underline  */
}
