.pinkButton {
    background-color: var(--primary-color);
    color: white;            /* Text color */
    cursor: pointer;         /* Cursor style */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    font-size: var(--mantine-font-size-md);
    size: var(--mantine-breakpoint-sm)
}
.pinkButton:hover {
    background-color: var(--hover-color);
}